[Unit]
Description=Optuna Dashboard for user %u

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/optuna-dashboard
ExecStart=%h/optuna-dashboard/bin/start
ExecStop=%h/optuna-dashboard/bin/stop
TimeoutStartSec=0

[Install]
WantedBy=default.target
