[Unit]
Description=Optuna Dashboard for user %u

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/optuna-dashboard
ExecStart=%h/optuna-dashboard/bin/start-optuna-dashboard
ExecStop=%h/optuna-dashboard/bin/stop-optuna-dashboard
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
